@{
    ViewBag.Title = "Home Page";
}

<h3>Canteen Management System</h3>
<ol class="round">
    <li class="one">During this course we would like do create a simple Canteen management system. A Canteen management system is for employees of any organisation who realizes the need of an online system to place order for lunch, snacks or dinner, feels standing in queue and waiting for his turn to place order is waste of time, is health conscious and plans his diet and is concerned about food being wasted .
    </li>
    <li class="two">Our product offers easy access to  food menu using a web browser, allows the users to place  orders and to view their purchase history. The system also alerts the user once their order has been prepared. It solves the issue of having to wait for your lunch, snack or dinner. Currently people go to the canteen, mostly during the same time, which result into a long queues. They stand in it for a long time to place his/her order. The software will make life easier as it displays list of food items,the available and ordered number of items, time for delivery with history of the items being ordered by an person. 
    </li>
    <li class="three">This will be implemented using customer logins where all meny choices are available for order. The menu and prices are updated using a separate admin account that can be accessed by the employees of the canteen. The system will not adress payments but will be prepared for further development to include payment systems. The product is accessed through a weburl, HTML ,C# and My-SQL will be used. GitHub will be used as the version control.
    </li>

</ol>
